{% extends "base/dashboard_base.html" %}

{% block title %}

Dashboard

{% endblock %}

{% block page_content %}

<div class="row">

    <div class="col">

        <h2 class="mb-4">

            Dashboard

        </h2>

        <div class="card shadow-sm">

            <div class="card-body">

                <h5 class="card-title">

                    Welcome

                </h5>

                <p class="card-text">

                    Welcome to the CDCS Enterprise
                    Management Platform.

                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}
