<nav id="sidebar" class="col-md-2 d-md-block bg-light border-end sidebar collapse show">

    <div class="position-sticky pt-3">

        <ul class="nav flex-column">

            <li class="nav-item">

                <a class="nav-link active" href="{{ url_for('dashboard.index') }}">

                    <i class="bi bi-speedometer2"></i>

                    Dashboard

                </a>

            </li>

            <li class="nav-item">

                <a class="nav-link" href="#">

                    <i class="bi bi-people"></i>

                    Human Resources

                </a>

            </li>

            <li class="nav-item">

                <a class="nav-link" href="#">

                    <i class="bi bi-cash-stack"></i>

                    Finance

                </a>

            </li>

            <li class="nav-item">

                <a class="nav-link" href="#">

                    <i class="bi bi-cart4"></i>

                    Procurement

                </a>

            </li>

            <li class="nav-item">

                <a class="nav-link" href="#">

                    <i class="bi bi-box-seam"></i>

                    Assets

                </a>

            </li>

            <li class="nav-item">

                <a class="nav-link" href="#">

                    <i class="bi bi-person-badge"></i>

                    Membership

                </a>

            </li>

            <li class="nav-item">

                <a class="nav-link" href="#">

                    <i class="bi bi-cup-hot"></i>

                    Catering

                </a>

            </li>

        </ul>

    </div>

</nav>
